.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
application/venv/

# API and secret keys
application/database/.env.dev
application/celery-beat/.env.dev

notes.txt
