.vscode
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
venv/

# API and secret keys
.env.dev

notes.txt
